.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.readOnlyField {
  border: 0px solid #d9d9d9;
  padding: 8px;
  border-radius: 5px;
  min-height: 37px;
  margin-top: -8px;
  background-color: rgb(240, 240, 240);
  color: rgb(96, 96, 96);
}

.formItemCompact{
  display: flexbox;
  font-size: xx-small;
  text-align: left;
}
