.container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: #ffffff;
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%; 
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  
}

.leaseName {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.leaseCode,
.customerCode {
  font-size: 14px;
  color: #777;
}

.editButton{
  max-width: min-content;
}
.editButton:hover{
  outline: transparent;
}

.leaseType {
  font-size: 16px;
  font-weight: 500;
  color: #555;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.rentMonthly {
  font-size: 16px;
  font-weight: 400;
  color: #444;
}

.dateRange {
  font-size: 14px;
  color: #777;
}